IO_LOC "in1" 87;
IO_PORT "in1" IO_TYPE=LVCMOS33 PULL_MODE = UP;

IO_LOC "in2" 88;
IO_PORT "in2" IO_TYPE=LVCMOS33 PULL_MODE = UP;

IO_LOC "in3" 80;
IO_PORT "in3" IO_TYPE=LVCMOS33 PULL_MODE = UP;

IO_LOC "sum" 15;
IO_PORT "sum" IO_TYPE=LVCMOS33 DRIVE = 8;

IO_LOC "carry" 16;
IO_PORT "carry" IO_TYPE=LVCMOS33 DRIVE = 8;

